body
{
    background-color: black;
    color:rgb(2, 255, 2);
    font-family: 'Courier New', Courier, monospace;
}
#divDeProyecto
{
    /*border: 0.7vh solid red;*/
    border-radius: 0.7vw;
    text-decoration: none;
    box-shadow: 0 0 10px 2px rgb(0, 240, 0);
}
#divDeProyecto:hover
{
    /*box-shadow: 0 0 1vh 0.4vh rgb(49, 0, 243);*/
    box-shadow: 0 0 1vh 0.4vh red;
    transform: scale(1.1);
}
#section
{
    border-bottom: 0.7vh  solid rgb(2, 255, 2);
    border-left: 0.7vh  solid rgb(2, 255, 2);
    border-right: 0.7vh  solid rgb(2, 255, 2);
}
#contenedorHeader
{
    border-top: 0.7vh solid rgb(2, 255, 2);
    border-left: 0.7vh solid rgb(2, 255, 2);
    border-right: 0.7vh solid rgb(2, 255, 2);
    height: 14vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 0.7vw;
    border-top-right-radius: 0.7vw;
}
#contenedorHeader:hover
{
    box-shadow: 0 0 1vh 0.4vh red;
}
#imagenHeader
{
    height:14vw;
    /*border-bottom: 0.7vh solid black;*/
}
#contenedorFooter
{
    border-bottom: 0.7vh solid rgb(2, 255, 2);
    border-left: 0.7vh solid rgb(2, 255, 2);
    border-right: 0.7vh solid rgb(2, 255, 2);
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 0.7vw;
    border-bottom-right-radius: 0.7vw;
}
#contenedorFooter2
{
    /*border: 0.7vh solid red;*/
    border-radius: 0.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contenedorImagenFooter
{
    border: 0.7vh solid rgb(2, 255, 2);
    border-radius: 0.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contenedorImagenFooter:hover
{
    box-shadow: 0 0 1vh 0.4vh red;
}
#contenedorNav
{
    border: 0.7vh solid rgb(2, 255, 2);
    display: flex;
    font-size: 1.5vw;
}
#opcionMenu
{
    margin-left: 4vw;
    color:rgb(2, 255, 2);
    text-decoration: none;
}
#opcionMenu:hover
{
    box-shadow: 0 0 1vh 0.4vh red;
    transform: scale(1.1);
}
img 
{
    border-radius: 0.7vw;
}
a
{
    text-decoration: none;
    color: black;
}
#divImagenProyecto
{
    border: 0.7vh solid rgb(2, 255, 2);
}
#divTextoProyecto
{
    /*border: 0.7vh solid green;*/
    border-radius: 0.7vw;
    color:rgb(2, 255, 2);
}
.categoriasProyecto
{
    color:rgb(2, 255, 2);
    font-size: 1vw;
}
#tituloDelProyecto
{
    text-decoration: underline;
}