*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE */
    user-select: none;
}
body
{
    margin: 0;
    padding: 0;
    min-width: 100%;
    background-image: url('../media/imagenes/fondo.jpg');
    /*background-size: cover;*/
    /*height: 100vh;*/
    /*opacity: 0.3;*/
    /*background-repeat: no-repeat;*/
}
.elemento
{
    background-color: rgba(11, 78, 40, 0.367);
    border:solid  rgba(8, 255, 115, 0.768) 4px;
}
.proyecto
{
    cursor: pointer;
}
.habilidad
{
    cursor: pointer;
}
#logo
{
    cursor: pointer;
}
.miImagen
{
    cursor: pointer;
}
.experiencia
{
    cursor:pointer;
}
  